.filter {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
}

.filter label {
    margin-left: 10px;
}


.filter:hover {
    background: #F1FCFF;
}

.filter input {
    width: 25px; 
    height: 25px;
}
/* 
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .filter input {
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
    }
    
    .filter input::after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
    }
} */




/* .filter input { 
    position: absolute; 
    left: -9999px; 
}

.filter label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

.filter label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
} */

