* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F3F7FA;
}
.App {
  
  display: flex;
  justify-content: center;

}
.container { 
  width: 1000px; 
  min-height: 100vh;
}

.content {
  display: grid; 
  grid-template-areas: 
    "filters sections sections"
    "filters tickets tickets"
    "filters tickets tickets"; 
    gap: 1rem; 
  grid-template-columns: 25% 1fr 1fr;
}

